packages:
  yum:
    python3-devel: []
  commands:
    install_aws_cli:
      command: "pip3 install awscli"
    container_commands:
      configure_aws_cli:
        command: "aws configure set aws_access_key_id  ${{ secrets.AWS_ACCESS_KEY_ID }} && aws configure set aws_secret_access_key ${{ secrets.AWS_SECRET_ACCESS_KEY }} && aws configure set default.region us-west-2"
    install_dvc:
      command: sudo pip3 install dvc
    install_requirements:
      command: sudo pip3 install -r /var/app/current/requirements.txt
    pull_weights_from_s3:
      command: cd var/app/current
      command: dvc fetch
    

 
